
<div layout="row">
  <div ng-controller="SearchController" class="ui form">
    <form ng-submit="searchAmazon()">
      <div class="two fields">
      <input type="text" class="ui input fluid" placeholder="Search for an item.." ng-model="search.search" required>
      <select id="products">
        <option value="Books">Books</option>
        <option value="HomeGarden">Home And Garden</option>
        </select>
        </span>
    </div>
    <button type="submit" class="btn btn-default">Search</button>
    </form>


    <div class="ui five cards">
      <div class="card" ng-repeat="product in searchResults" ng-show="showSearch">
        <a class="image">
          <img src="{{product.img}}">
        </a>
        <div class="content">
          <a class="header">{{product.title}}</a>
          <div class="meta">
            <a>{{product.price}}</a>
          </div>
        </div>
        <div class="extra">
          <div class="ui labeled icon button" ng-click="addToCart(product.asin, product.img, product.description)">
            <i class="add to cart icon"></i>
            Add to Cart
          </div>
          </div>
      </div>
    </div>


    <!-- cart -->
    <div class="ui items" ng-show="showCart">
      <div class="item">
        <div class="image">
          <img src="{{cartItem.imageURL}}">
        </div>
        <div class="content">
          <a class="header">{{cartItem.Title}}</a>
          <div class="meta">
            <span>{{cartItem.price}}</span>
          </div>
          <div class="description">
            <p></p>
          </div>
          <div class="extra">
            Additional Details
          </div>
        </div>
      </div>
    </div>

<!-- 
  <tr ng-repeat="product in searchResults" ng-show="showSearch">
    <td class="tdCenter">
      <img ng-src="{{product.img}}.jpg" alt="{{product.title}}" />
    </td>
    <td>
      <b>{{product.title}}</b> <br />
      {{product.description}}
    </td>
    <td class="tdRight">
      {{product.price}}
    </td>
    <td class="tdRight"><button class="btn btn-default" ng-click="addToCart(product.asin, product.img, product.description)">Add To Cart</button>
    </td>
  </tr>

</table>
<div class="tdCenter">
<table ng-show="showCart">
  <tr class="well">
    <td class="tdRight" colspan="4" >
        <b>Cart</b>
        <b>Price</b>
    </td>
  </tr>
  <tr ng-show="showCart">
    <td class="tdCenter">
      <img ng-src="{{cartItem.imageURL}}" alt="{{product.title}}" />
    </td>
    <td>
      <b>{{cartItem.Title}}</b> <br />
      {{cartItem.description}}
    </td>
    <td class="tdRight">
      {{cartItem.price}}
    </td><td>
      <button class="btn btn-default" ng-click="confirmItem()">Confirm Add</button>

    </td>
  </tr>
  </table>
</div> -->